<div class="error-container">
  <h1 class="error-title">Oops! Something went wrong</h1>
  <p class="error-message"><%= @weather[:message] %></p>
  <p class="error-code">Error code: <%= @weather[:code] %></p>
</div>
